streamlit==1.22.0
setuptools>=65.0.0  # Ensures distutils is included
pandas==1.5.3
numpy==1.23.5
scikit-learn==1.3.0  # Updated version for compatibility
seaborn==0.12.2
plotly==5.15.0
joblib==1.3.2
